body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row.center {
  align-items: center;
}

/* Form */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;

}

input {
  height: 30px;
}


/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;

  border-radius: 0.5rem;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.test {
  color: white;
}

.space {
  padding-left: 20px;
}


button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
.test {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button {
  margin: 0 0.2rem;
}

.product {
  min-width: 150px;
  padding-top: 15px;
}

th {
  display: block;
}

.orderHistory {
  display: inline;
}

.item {
  display: block;
}

.order {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.long {

  width: 25%;
}

tr {
  width: 25%
}

td {
  width: 92.1%;
  color: black;
}

.none {
  display: none;
}